*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.carousel-item{
    max-height: 600px;

}



.containere{
    background-image: url(../fotos/marisol.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: beige;
    padding: 235px;
    margin-bottom: 70px;
}


.container2__carde{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6FFE3;
}

.carde{
    width: 350px;
    margin: 10px;
    padding: 20px;
    backdrop-filter: bluer(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;

}

.carde:hover{
    transform: translateY(-10px)
}

.carde:hover .cover__carde img{
    transform: scale(1.1);
}

.cover__carde{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.cover__carde img{
    width: 110%;
    transition: all 300ms;
}

.carde h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    color: black;
    text-align: center;
}

.carde p{
    margin-top: 30px;
    font-size: 15px;
    color: black;
    letter-spacing: o.4px;
    text-align: center;
}


.containere2{
    background-image: url(../fotos/footer3.jpg);
    background-position: center center;
    background-size: cover;
    color: beige;
    text-align:center ;
    padding: 235px;
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: cover;
    
}






.lorem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
    padding: 50px;
}

.textoh1{
    text-align: center;
    color: black;
    margin-top: 120px;
    margin-left: 50px;
}



.pepe{
    font-size: 15px;
    text-align: center;
}

.pepe img{
    width: 250px;
}


.container3__carde{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(144, 230, 233) ;
}


.cardex{
    width: 350px;
    margin: 25px;
    padding: 45px;
}

.cardex h2{
    text-align: center;
}

.cardex p{
    text-align: center;
}



.logo img{
    width: 180px;
    margin-left: 60px;
    margin-top: 25px;
}


.btn2{
    margin-top: 160px;
    text-align: center;
}

.btn3{
    margin-top: 65px;
    text-align: center;
}

.btn4{
    margin-top: 180px;
    text-align: center;
}



.containere2x{
    background-image: url(../fotos/footer3.jpg);
    background-position: center center;
    background-size: cover;
    color: beige;
    text-align:center ;
    padding: 235px;
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: cover;

}

main{
    display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
}

.tesi{
    text-align: center;
}

.popw{
    background-color: beige;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 540px;
    padding: 50px 55px;
    
}

@media screen and (max-width: 500px) {
    .containere2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

    .containere{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .roling .loli {
        flex-direction: column;
        color: blue;
        margin-right: 100px;
        transition: all 300ms ease;
        padding: 20px;
        line-height: 100px;

}



    
    
}

