@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
$TipografiaSecundaria:'Oswald', sans-serif;
$TipografiaParrafo:'Lora', serif;
$Tipografiah3:'Oswald', sans-serif;

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body{
    width:100%;
   overflow-x: hidden;
  }
