header {
    background-color: white;

    .vivir-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;

        .vivir-text {
            width: 40%;
            margin-top: 70px;
            margin-bottom: 50px;

            .TipografiaSecundaria {
                text-transform: uppercase;
                font-size: 105px;
                padding: 15px;
                font-family: $TipografiaSecundaria ;
            }

            .TipografiaParrafo {
                padding: 15px;
                font-family: $TipografiaParrafo;
            }
        }


        .vivir-img img {
            width: 450px;
            margin-inline-start: 300px;
        }
    }
}


main {
    .salto-terno {
        background-color: #F4F4F4;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;

        .salto-txt {
            width: 50%;
            margin-left: 200px;

            .TipografiaSecundaria {
                text-transform: uppercase;
                padding: 15px;
                font-family: $TipografiaSecundaria;
            }

            .TipografiaParrafo {
                font-family: $TipografiaParrafo;
                font-size: 16px;
            }

        }

        .salto-img {
            margin-left: 50px;
        }

        .salto-img img{
            width: 400px;
        }

    }




    .firme {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;


        .firme-txt {
            align-items: center;
            text-align: center;
            width: 70%;


            .TipografiaSecundaria {
                padding: 15px;
                font-family: $TipografiaSecundaria;
            }


        }

        .firme-img img {
            width: 400px;
            margin-bottom: 100px;
        }
    }



    .luz {
        padding: 100px 0;
        position: relative;
        background-color: #fdf5e6;

        .luz-content {
            text-align: center;

            .TipografiaSecundaria {
                font-size: 55px;
                line-height: 70px;
                color: black;
                text-transform: uppercase;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-family: $TipografiaSecundaria;
            }

            .luz-group {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .luz-1 {
                    width: 350px;
                    margin: 10px;
                    padding: 30px;
                    backdrop-filter: bluer(5px);
                    -webkit-backdrop-filter: blur(5px);
                    transition: all 300ms;

                    .TipografiaParrafo {
                        font-family: $TipografiaParrafo ;
                    }

                    .Tipografiah3 {
                        font-family: $Tipografiah3;

                    }

                    &:hover {
                        transform: translateY(-10px)
                    }
                }

            }

            .luz-1 h3 {
                padding: 20px;
            }

            .luz-1 img {
                width: 200px;
            }

        }

    }

}




footer {
    .foo-txt {
        .TipografiaParrafo {
            font-family: $TipografiaParrafo;
        }
    }

    .lolo {
        .TipografiaSecundaria {
            font-family: $TipografiaSecundaria;
        }

        .koko {
            text-align: center;
            font-size: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .face {
                text-align: center;
                margin-right: 30px;

            }

            .insta {
                text-align: center;
                margin-left: 30px;

            }

        }
    }
}



@media (Max-width:991px) {

    header {
        .vivir-content {

            .vivir-text {

                .TipografiaSecundaria {
                    font-family: $TipografiaSecundaria;
                    font-size: 70px;
                }

                .TipografiaParrafo {
                    font-size: 25px;
                    display: none;
                    font-family: $TipografiaParrafo ;
                }

            }

            .vivir-img img{
                display: none; 

            }

        }
    }





    main {
        .salto-terno {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .salto-txt {
                text-align: center;
                align-items: center;
                margin-right: 200px;

            }




        }

        .firme{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;



            .firme-txt{
                text-align: center;
                align-items: center;



            }

        }




    }


}

