@media screen and (max-width: 500px) {
    .containere2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

    .containere{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {

    .containere2x {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

    
    
}