main {
    section {
        font-size: 15px;
        text-align: center;

        .logo2 {
            width: 350px;
        }
    }

    .container-transitar{
        background-image: url("../fotos/pexels-elina-fairytale-3822906.jpg");
        background-position:top center ;
        background-size: cover;
        object-fit: cover;
        height: 500px;

        .TipografiaSecundaria{
            text-align: center;
            position: relative;
            top: 100px;
            color: white;
            font-size: 70px;
            font-family:$TipografiaSecundaria ;
        }
    }


    .content{
        padding: 50px ;
        display: flex;
        align-items: center;
        margin-bottom: 200px; 
        
        .content-txt{
            .TipografiaSecundaria{
        font-size: 40px;
        color: #1c0d02;
        position: relative;
        top: 100px;
        text-align: center;
        font-family:$TipografiaSecundaria;

    
    }
        }
    
        .content-txt{
        .TipografiaParrafo{
        font-size: 20px;
        color: black;
        position: relative;
        top: 120px;
        left: 40px;
        width: 90%;
        text-align: center;
        font-family: $TipografiaParrafo;
    }    
        }
    


}


.container-transitar2{
    background-image: url("../fotos/pexels-hatice-baran-14252564.jpg");
    background-position:center   ;
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 500px;
    align-items: center;
    text-align: center;
    margin-bottom: 250px;
    margin-top: 250px;

    .TipografiaSecundaria{
        text-align: center;
        align-items: center;
        color:#572364;
        font-size: 43px;
        text-transform: uppercase;
        position: relative;
        top: 200px;
        font-family: $TipografiaSecundaria;;
    }
}

.content2{
    padding: 50px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 80px;


.TipografiaSecundaria{
    font-size: 40px;
    padding: 30px ;
    text-align: center;
    font-family:$TipografiaSecundaria;
    color: #1c0d02;

}

.TipografiaParrafo{
    font-size: 20px;
    color: black;
    padding: 20px;
    text-align: center;
    font-family:$TipografiaParrafo;
}

}

#header{
    background: url(../fotos/portada\ femenina\ flores\ vintage\ beige\ .png) top/cover no-repeat;

}

}

@media (Max-width:991px){

    .content{

        .TipografiaSecundaria{
            font-family:$TipografiaSecundaria;
            margin-left: 50px;
        
        }
    
        .TipografiaParrafo{
            font-family: $TipografiaParrafo;
        }
    


}
    
}