@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}
header .vivir-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
header .vivir-content .vivir-text {
  width: 40%;
  margin-top: 70px;
  margin-bottom: 50px;
}
header .vivir-content .vivir-text .TipografiaSecundaria {
  text-transform: uppercase;
  font-size: 105px;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}
header .vivir-content .vivir-text .TipografiaParrafo {
  padding: 15px;
  font-family: "Lora", serif;
}
header .vivir-content .vivir-img img {
  width: 450px;
  margin-inline-start: 300px;
}

main .salto-terno {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
main .salto-terno .salto-txt {
  width: 50%;
  margin-left: 200px;
}
main .salto-terno .salto-txt .TipografiaSecundaria {
  text-transform: uppercase;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}
main .salto-terno .salto-txt .TipografiaParrafo {
  font-family: "Lora", serif;
  font-size: 16px;
}
main .salto-terno .salto-img {
  margin-left: 50px;
}
main .salto-terno .salto-img img {
  width: 400px;
}
main .firme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
main .firme .firme-txt {
  align-items: center;
  text-align: center;
  width: 70%;
}
main .firme .firme-txt .TipografiaSecundaria {
  padding: 15px;
  font-family: "Oswald", sans-serif;
}
main .firme .firme-img img {
  width: 400px;
  margin-bottom: 100px;
}
main .luz {
  padding: 100px 0;
  position: relative;
  background-color: #fdf5e6;
}
main .luz .luz-content {
  text-align: center;
}
main .luz .luz-content .TipografiaSecundaria {
  font-size: 55px;
  line-height: 70px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}
main .luz .luz-content .luz-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .luz .luz-content .luz-group .luz-1 {
  width: 350px;
  margin: 10px;
  padding: 30px;
  backdrop-filter: bluer(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms;
}
main .luz .luz-content .luz-group .luz-1 .TipografiaParrafo {
  font-family: "Lora", serif;
}
main .luz .luz-content .luz-group .luz-1 .Tipografiah3 {
  font-family: "Oswald", sans-serif;
}
main .luz .luz-content .luz-group .luz-1:hover {
  transform: translateY(-10px);
}
main .luz .luz-content .luz-1 h3 {
  padding: 20px;
}
main .luz .luz-content .luz-1 img {
  width: 200px;
}

footer .foo-txt .TipografiaParrafo {
  font-family: "Lora", serif;
}
footer .lolo .TipografiaSecundaria {
  font-family: "Oswald", sans-serif;
}
footer .lolo .koko {
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .lolo .koko .face {
  text-align: center;
  margin-right: 30px;
}
footer .lolo .koko .insta {
  text-align: center;
  margin-left: 30px;
}

@media (Max-width: 991px) {
  header .vivir-content .vivir-text .TipografiaSecundaria {
    font-family: "Oswald", sans-serif;
    font-size: 70px;
  }
  header .vivir-content .vivir-text .TipografiaParrafo {
    font-size: 25px;
    display: none;
    font-family: "Lora", serif;
  }
  header .vivir-content .vivir-img img {
    display: none;
  }
  main .salto-terno {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .salto-terno .salto-txt {
    text-align: center;
    align-items: center;
    margin-right: 200px;
  }
  main .firme {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .firme .firme-txt {
    text-align: center;
    align-items: center;
  }
}
main {
  margin-bottom: 150px;
}
main .first_col {
  background-color: beige;
  height: 550px;
  position: relative;
  width: 550px;
  left: 155px;
  top: 171px;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  main .first_col {
    position: initial;
    left: 0;
  }
}
main .pepe {
  font-size: 15px;
  text-align: center;
}
main .pepe .logo {
  width: 350px;
}

main .producto-main {
  background-color: #faf6d2;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  padding-top: 100px;
}
main .producto-main .producto-text {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 80%;
}
main .producto-main .producto-text .TipografiaSecundaria {
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}
main .producto-main .producto-text .TipografiaParrafo {
  padding: 15px;
  font-family: "Lora", serif;
}
main .libro-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
main .libro-main .libro-txt {
  width: 50%;
  margin-left: 150px;
  align-items: center;
  text-align: center;
}
main .libro-main .libro-txt .TipografiaSecundaria {
  text-transform: uppercase;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
main .libro-main .libro-txt .TipografiaParrafo {
  font-family: "Lora", serif;
  font-size: 16px;
}
main .audio-main {
  background-color: #fffacd;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
main .audio-main .audio-text {
  width: 80%;
  margin-top: 70px;
  margin-bottom: 50px;
}
main .audio-main .audio-text .TipografiaSecundaria {
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}
main .audio-main .audio-text .TipografiaParrafo {
  padding: 15px;
  font-family: "Lora", serif;
}

@media (Max-width: 991px) {
  main .producto-main {
    flex-direction: column;
    align-items: center;
  }
  main .producto-main .producto-img img {
    display: none;
  }
  main .libro-main {
    flex-direction: column;
    align-items: center;
  }
  main .libro-main .libro-txt {
    width: 50%;
    margin-right: 150px;
  }
  main .libro-main .libro-img img {
    display: none;
  }
  main .audio-main {
    flex-direction: column;
    align-items: center;
  }
  main .audio-main .audio-img img {
    display: none;
  }
}
main section {
  font-size: 15px;
  text-align: center;
}
main section .logo2 {
  width: 350px;
}
main .container-transitar {
  background-image: url("../fotos/pexels-elina-fairytale-3822906.jpg");
  background-position: top center;
  background-size: cover;
  object-fit: cover;
  height: 500px;
}
main .container-transitar .TipografiaSecundaria {
  text-align: center;
  position: relative;
  top: 100px;
  color: white;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
}
main .content {
  padding: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}
main .content .TipografiaSecundaria {
  font-size: 40px;
  color: #1c0d02;
  position: relative;
  top: 100px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
main .content .TipografiaParrafo {
  font-size: 20px;
  color: black;
  position: relative;
  top: 120px;
  left: 40px;
  width: 90%;
  text-align: center;
  font-family: "Lora", serif;
}
main .container-transitar2 {
  background-image: url("../fotos/pexels-hatice-baran-14252564.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 500px;
  align-items: center;
  text-align: center;
  margin-bottom: 250px;
  margin-top: 250px;
}
main .container-transitar2 .TipografiaSecundaria {
  text-align: center;
  align-items: center;
  color: #572364;
  font-size: 43px;
  text-transform: uppercase;
  position: relative;
  top: 200px;
  font-family: "Oswald", sans-serif;
}
main .content2 {
  padding: 50px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 80px;
}
main .content2 .TipografiaSecundaria {
  font-size: 40px;
  padding: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #1c0d02;
}
main .content2 .TipografiaParrafo {
  font-size: 20px;
  color: black;
  padding: 20px;
  text-align: center;
  font-family: "Lora", serif;
}
main #header {
  background: url(../fotos/portada\ femenina\ flores\ vintage\ beige\ .png) top/cover no-repeat;
}

/*# sourceMappingURL=styles.css.map */
